APP_NAME=School-course-manage # 專案名稱
APP_ENV=local             # 環境：local(本機), staging(測試), production(正式)
APP_KEY=base64:fxHDPZUwzICl4+MP1ex7w2eYeWUTV+AQXCoaakGhOEA=                  # Laravel 加密用的金鑰，必須用 php artisan key:generate 生成
APP_DEBUG=true            # 除錯模式，true 會顯示錯誤堆疊，production 要改 false
APP_URL=http://localhost/5555  # 專案的對外 URL (本機用 localhost)
APP_LOCALE=en             # 預設語言
APP_FALLBACK_LOCALE=en    # 找不到翻譯時的備用語言
APP_FAKER_LOCALE=en_US    # Faker 假資料產生器的語言
APP_MAINTENANCE_DRIVER=file # 維護模式的儲存方式
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4   # PHP 內建伺服器的工作執行緒數
BCRYPT_ROUNDS=12           # 密碼加密強度
LOG_CHANNEL=stack          # 預設日誌頻道
LOG_STACK=single           # 堆疊模式使用的 channel
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug            # Log 詳細程度 (debug/info/warning/error)

# DB_CONNECTION=sqlite       # 連線類型：sqlite, mysql, pgsql, sqlsrv
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel        # 資料庫名稱
# DB_USERNAME=root           # 使用者帳號
# DB_PASSWORD=     # 密碼

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1   # 如果 Laravel 跟 DB 同在 docker-compose 裡，用: postgres
DB_PORT=5432
DB_DATABASE=laravel_db
DB_USERNAME=laravel
DB_PASSWORD=123456



SESSION_DRIVER=file    # session 儲存方式 (file, cookie, database, redis)
SESSION_LIFETIME=120       # session 有效分鐘數
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null


BROADCAST_CONNECTION=log   # 廣播驅動
FILESYSTEM_DISK=local      # 檔案系統 (local, s3 ...)
QUEUE_CONNECTION=database  # 工作隊列
CACHE_STORE=database       # 快取系統
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
